<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<footer class="footer text-center">
  <div class="container">
    <div style="align-content: center;">

	<div style="align-content: center;">
		<h3>그날의 맛을 기록하다, MATCHA</h3>
	</div>
<!--       Footer Location
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Location</h4>
        <p class="lead mb-0">은둔형 관종</p>
      </div>

      Footer Social Icons
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">맛집을 리뷰하다</h4>
        <a class="btn btn-outline-light btn-social mx-1" href="#">
          <i class="fab fa-fw fa-facebook-f"></i>
        </a>
        <a class="btn btn-outline-light btn-social mx-1" href="#">
          <i class="fab fa-fw fa-twitter"></i>
        </a>
        <a class="btn btn-outline-light btn-social mx-1" href="#">
          <i class="fab fa-fw fa-linkedin-in"></i>
        </a>
        <a class="btn btn-outline-light btn-social mx-1" href="#">
          <i class="fab fa-fw fa-dribbble"></i>
        </a>
      </div>

      Footer About Text
      <div class="col-lg-4">
        <h4 class="text-uppercase mb-4">About Freelancer</h4>
          <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
      </div> -->

    </div>
  </div>
</footer>

<!-- Copyright Section -->
<section class="copyright py-4 text-center text-white">
  <div class="container">
    <small>Copyright &copy; 은둔형 관종</small>
  </div>
</section>
</html>